@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Esta página descreve a política de privacidade do site.</p>
<p>Adicione aqui os detalhes sobre como os dados dos usuários são tratados e armazenados.</p>
